<div class="main">
<!-- Bắt đầu Content -->
<div class="content mt-3 mb-3">
<div class="header-title px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mb-0">
    <h1 class="size-3">EUW Master 1 LOL Account 30 Champs 17 Skins (#557470)</h1>
    <h2 class="size-4">League of Legends Account</h2>
    <a href="#" class="btn btn-info mb-3 mb-md-0" style="opacity: .65;" data-toggle="tooltip" data-placement="top" title="" data-original-title="You're now in League of Legends profile of the account."><i class="fas fa-info-circle"></i> LOL Account Details</a>
</div>
<div style="border:rgba(26, 84, 103, 0.2) 1px solid; border-bottom:0">
    <div class="row ">
        <div class="col-12 col-md-4 m-auto text-center">
            <div class="d-block d-md-flex justify-content-center">
                <div class="link-disable mt-3 mt-md-0">
                    <a rel="nofollow" href="https://www.gamermarkt.com/seller-profile/DY394413830#active-ads" target="_blank" class="none-text-decoration">
                        <span class="size-3">Emre İ.</span>
                    </a>
                </div>
            </div>
            <div class="mt-2 mb-1">
                <i class="fas fa-circle text-warning ml-2"></i> Recently Online (24 Minute(s) Before)
            </div>
            <div class="pl-md-3 pl-2">
                <div class="progress mt-1 asLink" data-toggle="tooltip" data-html="true" title="" data-original-title="SELLER REPUTATION">
                    <div class="progress-bar bg-success " style="width: 98%">
                        98%
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 m-auto text-center py-2" style="border-left:rgba(26, 84, 103, 0.2) 1px solid;">
            <span class="size-1 m-md-5">€ 95.20</span><br>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-primary btn-lg btn-block h-100 w-100" id="purchase_button" name="purchase_button" data-product-type="ilan" data-product-id="557470" data-price="95.20"><i class="fas fa-shopping-cart"></i> Buy Now</button>
        </div>
    </div>
</div>
<div class="px-4 py-4" style="border:rgba(26, 84, 103, 0.2) 1px solid;">
    <div class="row">
        <div class="col-6 col-md-3 p-2 mb-2 mb-md-4">
            <div class="row m-0 p-0">
                <div class="col-md-3 text-center" style="height: 60px">
                    <i class="mt-3 mt-md-1 fas fa-arrow-alt-circle-up" style="font-size:3.0rem;"></i>
                </div>
                <div class="col-md-9 mt-2 mt-md-0 text-md-left">
                    <span class="size-3">240</span><br>
                    <span style="font-size:0.9rem" class="text-muted">Level</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2 mb-2 mb-md-4">
            <div class="row m-0 p-0">
                <div class="col-md-3 text-center" style="height: 60px">
                    <img src="https://cdns.gamermarkt.com/files/images/lol/other/rp_logo.png" alt="Available Riot Points" height="56">
                </div>
                <div class="col-md-9 mt-2 mt-md-0 text-md-left">
                    <span class="size-3">20</span><br>
                    <span style="font-size:0.9rem" class="text-muted">Available Riot Points</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2 mb-2 mb-md-4">
            <div class="row m-0 p-0">
                <div class="col-md-3 text-center" style="height: 60px">
                    <img src="https://cdns.gamermarkt.com/files/images/lol_divisions/73.png" alt="Master 1" height="56">
                </div>
                <div class="col-md-9 mt-2 mt-md-0 text-md-left">
                    <span class="size-3">Master 1</span><br>
                    <span style="font-size:0.9rem" class="text-muted">Solo/Duo </span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2 mb-2 mb-md-4">
            <div class="row m-0 p-0">
                <div class="col-md-3 text-center" style="height: 60px">
                    <img src="https://cdns.gamermarkt.com/files/images/lol_divisions/0.png" alt="Unranked" height="56">
                </div>
                <div class="col-md-9 mt-2 mt-md-0 text-md-left">
                    <span class="size-3">Unranked</span><br>
                    <span style="font-size:0.9rem" class="text-muted">Flex 5v5 </span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2 mb-2 mb-md-4">
            <div class="row m-0 p-0">
                <div class="col-md-3 text-center" style="height: 60px">
                    <img src="https://cdns.gamermarkt.com/files/images/lol/other/be_logo.png" alt="Available Blue Essence" height="56">
                </div>
                <div class="col-md-9 mt-2 mt-md-0 text-md-left">
                    <span class="size-3">25595</span><br>
                    <span style="font-size:0.9rem" class="text-muted">Available Blue Essence</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2 mb-2 mb-md-4">
            <div class="row m-0 p-0">
                <div class="col-md-3 text-center" style="height: 60px">
                    <img src="https://cdns.gamermarkt.com/files/images/lol_divisions/0.png" alt="Unranked" height="56">
                </div>
                <div class="col-md-9 mt-2 mt-md-0 text-md-left">
                    <span class="size-3">Unranked</span><br>
                    <span style="font-size:0.9rem" class="text-muted">Prev. Season (Solo/Duo)</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2 mb-2 mb-md-4">
            <div class="row m-0 p-0">
                <div class="col-md-3 text-center" style="height: 60px">
                    <img src="https://cdns.gamermarkt.com/files/images/lol_divisions/0.png" alt="Unranked" height="56">
                </div>
                <div class="col-md-9 mt-2 mt-md-0 text-md-left">
                    <span class="size-3">Unranked</span><br>
                    <span style="font-size:0.9rem" class="text-muted">Prev. Season (Flex 5v5)</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2 mb-2 mb-md-4">
            <div class="row m-0 p-0">
                <div class="col-md-3 text-center" style="height: 60px">
                    <img src="https://cdns.gamermarkt.com/files/images/lol/honors/2.png" alt="Honor" height="56">
                </div>
                <div class="col-md-9 mt-2 mt-md-0 text-md-left">
                    <span class="size-3">Level 2.1</span><br>
                    <span style="font-size:0.9rem" class="text-muted">Honor</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 p-3 text-center">
    <table class="table table-striped">
        <tbody>
        <tr>
            <th scope="row" width="50%" class="text-right">First LoL Server of Account:</th>
            <td width="50%" class="text-left">EUW</td>
        </tr>
        <tr>
            <th scope="row" width="50%" class="text-right">LoL Server History of Account:</th>
            <td width="50%" class="text-left">EUW</td>
        </tr>
        <tr>
            <th scope="row" width="50%" class="text-right">Account Created At:</th>
            <td width="50%" class="text-left">Season 12</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <span class="size-5 ">
        This account has seen <b>188</b> times and updated at 02.03.2023
    </span>
</div>
<ul class="nav specUl-lol specUl-bg mt-1 size-5 " id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="tab-1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Champions (30)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Skins (17)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Chromas (0)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-4" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Summoner Icons (44)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-5" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">Wards (4)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-6" data-toggle="tab" href="#tab6" role="tab" aria-controls="tab6" aria-selected="false">Emotes (10)</a>
    </li>
</ul>
<div class="tab-content p-3" id="myTabContent" style="border:rgba(26, 84, 103, 0.2) 1px solid;">
    <div class="tab-pane fade show active text-center" role="tabpanel">
        <span class="size-4 text-primary font-weight-bold">
            <i class="fas fa-arrow-circle-up"></i>
            Please click a tab to load
            <i class="fas fa-arrow-circle-up"></i>
        </span>
    </div>
    <div class="tab-pane fade text-center" id="tab1" name="tab1" role="tabpanel" aria-labelledby="tab-1">

        <div id="champions_div">
        </div>
    </div>
    <div class="tab-pane fade text-center" id="tab2" name="tab2" role="tabpanel" aria-labelledby="tab-2">

        <div id="skins_div">
        </div>
    </div>
    <div class="tab-pane fade text-center" id="tab3" name="tab3" role="tabpanel" aria-labelledby="tab-3">

        <div id="chromas_div">
        </div>
    </div>
    <div class="tab-pane fade text-center" id="tab4" name="tab4" role="tabpanel" aria-labelledby="tab-4">

        <div id="summoner_icons_div">
        </div>
    </div>
    <div class="tab-pane fade text-center" id="tab5" name="tab5" role="tabpanel" aria-labelledby="tab-5">

        <div id="ward_skins_div">
        </div>
    </div>
    <div class="tab-pane fade text-center" id="tab6" name="tab6" role="tabpanel" aria-labelledby="tab-6">

        <div id="emotes_div">
        </div>
    </div>
</div>
</div>
</div>